body {
  font-family: 'Inter', sans-serif;
  color: white;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url('../assets/nightBackground.jpg');
  background-size: cover;
}

.nightBackground {
  background-image: url("../assets/nightBackground.jpg");
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  z-index: 10;
}

// .darken {
//   background: black;
//   opacity: 0.2;
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }