body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-image: url("../assets/nightBackground.jpg");
  background-size: cover;
}

.nightBackground {
  background-image: url("../assets/nightBackground.jpg");
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  z-index: 10;
}

// .darken {
//   background: black;
//   opacity: 0.2;
// }