body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bodyBackground {
  background-size: 100% 100%;
}

.nightBackground {
  background-image: url("../assets/nightBackground.jpg");
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

h3 {
  text-transform: uppercase;
  color: #82817f;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
