body {
  font-family: 'Inter', sans-serif;
  color: white;
  // background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
  //   url('../assets/dayBackground.jpg');
  background-size: 100% 100%;
}

.bodyBackground {
  background-size: 100% 100%;
}

.nightBackground {
  background-image: url("../assets/nightBackground.jpg");
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  z-index: 10;
}
