header {
  padding-top: 60px;
  height: 50vh;
}

.quoteContainer {
  width: 50%;
  display: flex;
  position: relative;
  font-size: 20px;
  height: 50vh;
}

.quote {
  line-height: 1.5;
  color: $baseColor;
}

.newQuote {
  color: $baseColor;
  background: none;
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  border: none;
  padding: 0;

  i {
    font-size: 16px;
  }
}

.author {
  font-weight: 600;
  margin-top: 20px;
}
