header {
  padding-top: 50px;
  height: 50vh;
}

.quoteContainer {
  width: 50%;
  display: flex;
  position: relative;
  padding-top: 20px;
  font-size: 20px;
  height: 50vh;
}

.quote {
  line-height: 1.5;
  
}

.newQuote {
  color: white;
  background: none;
  display: inline-block;
  height: 30px;
  margin-left: 12px;
  border: none;
  padding: 0;
  font-size: 18px;
}

.author {
  font-weight: 600;
  margin-top: 30px;
}
