main {
  height: 50vh;
}

.clockSection {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  transform: translateY(0);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transition-duration: 0.45s;
}

// Time
.tzShort,
.time {
  display: inline-block;
}

.time {
  font-weight: 700;
  font-size: 215px;
  font-family: 'Inter', sans-serif;
}

.tzShort {
  font-size: 40px;
  color: $baseColor;
  font-weight: 200;
}

.greetingContainer {
  display: flex;
}

i {
  font-size: 25px;
}

.greeting {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  color: $baseColor;
  margin-left: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.location {
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 22px;
}

// More/Less Button
.moreLess {
  height: 60px;
  align-self: flex-end;
  background: white;
  color: #8c8c8c;
  border: none;
  border-radius: 28px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  padding-left: 12px;
  padding-right: 10px;
  transition-duration: 0.3s;

  .moreLessText {
    letter-spacing: 5px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 16px;
    padding-top: 3px;
  }

  i {
    border-radius: 50%;
    background-color: #323232;
    color: white;
    font-size: 15px;
    padding: 14px;
    transition-duration: 0.3s;
  }

  &:hover {
    color: #323232;
  }

  &:hover i {
    transform: rotate(180deg);
    transition-duration: 0.3s
  }
}

.geoData {
  height: 50vh;
  transform: translateY(50vh);
  background: rgba(140, 140, 140, 0.92);
  transition-duration: 0.45s;
}