@media(max-width: 1080px) {
  .wrapper {
    width: 87%;
  }

  .quoteContainer {
    width: 70%;
    font-size: 16px;
  }

  .greeting {
    font-size: 16px;
  }

  .location {
    font-size: 20px;
  }

  .time {
    font-size: 160px;
  }

  .tzShort {
    font-size: 35px;
  }
  
  .geoData p {
    font-size: 35px;
  }
}

@media(max-width: 830px) {
  .wrapper {
    width: 90%;
  }

  .clockSection {
    display: block;
  }

  .moreLess {
    margin-top: 50px;
  }
}

@media(max-width: 685px) {
  .geoData {
    height:  40vh;
    padding-top: 60px;
  }

  .geoData p {
    font-size: 25px;
  }

  h3 {
    font-size: 14px;
  }
}