a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/nightBackground.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/nightBackground.jpg");
  background-size: cover;
}

.nightBackground {
  background-image: url("../assets/nightBackground.jpg");
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  z-index: 10;
}

header {
  padding-top: 60px;
  height: 50vh;
}

.quoteContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 20px;
  height: 50vh;
}

.quote {
  line-height: 1.5;
  color: #c0c8ca;
}

.newQuote {
  color: #c0c8ca;
  background: none;
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  border: none;
  padding: 0;
}

.newQuote i {
  font-size: 16px;
}

.author {
  font-weight: 600;
  margin-top: 20px;
}

main {
  height: 50vh;
}

.clockSection {
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tzShort,
.time {
  display: inline-block;
}

.time {
  font-weight: 700;
  font-size: 215px;
  font-family: 'Inter', sans-serif;
}

.tzShort {
  font-size: 40px;
  color: #c0c8ca;
  font-weight: 200;
}

.greetingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

i {
  font-size: 25px;
}

.greeting {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  color: #c0c8ca;
  margin-left: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.location {
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 22px;
}

.moreLess {
  height: 60px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: white;
  color: #8c8c8c;
  border: none;
  border-radius: 28px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  padding-left: 12px;
  padding-right: 10px;
}

.moreLess .moreLessText {
  letter-spacing: 5px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 16px;
  padding-top: 3px;
}

.moreLess i {
  border-radius: 50%;
  background-color: #323232;
  color: white;
  font-size: 15px;
  padding: 14px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.moreLess:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
